body {
  background-color: grey;
}
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("alien.svg"), white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}
#glitter-settings {
  display: flex;
  align-items: center;
  justify-content: center;
}
#glitter-settings * {
  margin-right: 0.2em;
}

#image-upload {
  display: none;
}
#glitter-iridescence {
  display: none;
}

#glitter-iridescence:checked + label {
  filter: none;
}
#glitter-iridescence-label {
  filter: grayscale(100%);
}

#glitter-toggle-settings {
  position: fixed;
  bottom: 0.2em;
  right: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  padding: 0.5em;
  opacity: 0.5;
}
label:hover {
  background-color: #DDF;
  opacity: 0.9;
}
label:active {
  background-color: #CCF;
  opacity: 0.9;
}
